body {
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

img {
    width: 200px;
    height: 200px;
}


input {
    width: 500px;
    margin-top: 50px;
    text-align: center;
    height: 40px;
}

input:focus {
    outline: none;
    letter-spacing: 2px;
    color: gray;
}

#add-burger {
    background-color: rgb(122, 213, 255);
    color: white;
    border: none;
    letter-spacing: 2px;
}

#burger-title {
    letter-spacing: 4px;
}

.menu {
    clear: both;
    overflow: auto;
}

#ready {
    float: left;
    background-color: rgb(255, 223, 223);
    padding: 5px 20px 10px 20px;
}

#devoured {
    float: right;
    background-color: rgb(254, 255, 223);
    padding: 5px 20px 10px 20px;
}

h4 {
    letter-spacing: 3px;
    color: gray;
    background: white;
    padding: 10px;
}

.devour-btn {
    background-color: rgb(223, 160, 160);
    color: white;
    border: none;
    letter-spacing: 2px;
    padding: 5px;
}

.uneaten-burger {
    margin: 15px;
}